/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  color: #ff9900;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  cursor: pointer;
}
